[user]
	name = Hubert Baumgartner
	email = hubert@chilicode.com
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

